body {
    background: grey;
    background-size: cover;
    color: white
}

#container {
    border: 1px solid blue
}

button {
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}